
    <div class="container-fluid addFacultyMainDiv"
    [hidden]="toHideDiv"
    >
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="advissColumn">
                <!-- <h1 class="advissTitle">ADVISS </h1>
                <p class="aboutAdviss">We are Providing Your Child's Personal Activity Via CCTV So Parent Can See Their Child's Activity in their Device via ADVISS</p>
               -->
               <img src="/assets/images/otpVarificationClipart.png" alt="" class="addDetailsClipart">
              </div>
              </div>
        </div>
      
       
       
        <div class="col-md-8">
            <div class="col-md-4 offset-md-4" id="loginId">
            <h1>OTP Varification</h1>
        </div>
            <div class="row row-right">
              
                
              <div class="form-group col-md-4 offset-md-3">    
                 <label for="otp">OTP</label> 
              
                    <input type="name" class="form-control"
                      id="otp" 
                      placeholder="Enter the OTP (from Your Registered mail)">
              </div>
          
      
             
              
      
      
              
                 
                <div class="form-check col-md-5 offset-md-3">
                
                   <a href="#"><button type="button"
                     id="btn-Faculty"
                     class="btn btn-primary"
                     (click)="otpFunction()"
                     >Send OTP</button></a>
                  </div>
                
                </div>
          </div>
        </div>
      </div>
      <app-home *ngIf="sendOtp===true"></app-home>