.advissColumn{
    /* text-align: center; */
    /* margin: 0px 10px ; */
}
.removeDetailsClipart{
    /* width: 160%; */
    margin-left: 130px;
}
.row-right{
    margin-top: 10px;
    padding-left: 190px;;
}
.modifyMainDiv{
    margin-top: 100px;
}
#btn-student{
    margin-left:120px;
}
