.advissColumn{
    /* text-align: center; */
    /* margin: 0px 10px ; */
}
.removeDetailsClipart{
    /* width: 160%; */
    margin-left: 130px;
}
.row-right{
    margin-top: 10px;
    padding-left: 190px;;
}
.btnModify{
    margin-top: 30px;
    width: 90px;
}
.modifyMainDiv{
    margin-top: 100px;
}
#btn-student{
    margin-left:120px;
}
.fade-in{
    animation: FadeIn 1s ease-in;
}
@keyframes FadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}