
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="advissColumn">
            <!-- <h1 class="advissTitle">ADVISS </h1>
            <p class="aboutAdviss">We are Providing Your Child's Personal Activity Via CCTV So Parent Can See Their Child's Activity in their Device via ADVISS</p>
           -->
           <img src="assets/images/teacherClipart (7).jpg" alt="" class="removeDetailsClipart">
          </div>
          </div>
    </div>
  
   
   
    <div class="col-md-8 modifyMainDiv">
        <div class="col-md-5 offset-md-4" id="loginId">
        <h1>Remove Student Details</h1>
    </div>
        <div class="row row-right">
        
            <div class="form-group col-md-2 offset-4"> 
                <select class="custom-select btn btn-light" id="inputGroup">
                      <option selected>Select Std...</option>
                      <option value="1">5</option>
                      <option value="2">6</option>
                      <option value="3">7</option>
                      <option value="3">8</option>
                      <option value="3">9</option>
                      <option value="3">10</option>
                      <option value="3">11</option>
                      <option value="3">12</option>
                </select>
              
              
                <select class="custom-select btn btn-light" id="inputGroup">
                      <option selected>Select Div...</option>
                      <option value="1">A</option>
                      <option value="2">B</option>
                      <option value="3">C</option>
                      <option value="3">D</option>
                    
                </select>
              

                 <select class="custom-select btn btn-light" id="inputGroupRemove">
                        <option selected>Reason</option>
                        <option value="1">Leaving the school</option>
                        <option value="2">Not using this website anymore</option>
                        <option value="3">Changing Division</option>
                        <option value="4">Others</option>
           
                  </select>
            
                </div>
          <div class="form-group col-md-4 offset-md-3"> 
            <label for="enroll">Entrollment no.</label>
            <input type="name" class="form-control" id="enroll" placeholder="Enter Student Entrollment Number">           
          </div>
          
  
  
          
             
            <div class="form-check col-md-5 offset-md-3">
            
               <a href="#"><button type="submit" id="btn-student"class="btn btn-primary">Modify</button></a>
              </div>
            
            </div>
      </div>
    </div>
  </div>