.devImg{

}
#clipart{
    width: 300px;
    /* background-color: red; */
}
#footer-row{
    text-align: center;
    position: fixed;
    
    bottom: 10px;
    /* background-color: rgb(167, 167, 167); */

}
.footer li{
    padding:5px;
}
ul{
    list-style:none;
}
#copyright{
    /* border:1px solid red; */

    margin:0;
}
@media (max-width: 600px) {
    #footer-row{
        opacity: 0%;
    }
  }
  @media (max-width: 1000px) {
    #footer-row{
        opacity: 0%;
    }
  }