<div class="container-fluid">
    <div class="row" id="adviss-row">
        
        <!-- <div class="col-md" id="div_for_ADVISS">
            <h3 class="intro">Introduction</h3>
                   <h4 class="intro">
                   <b><span class="advissSpan">ADVISS</span></b>initiative 
                    (advanced digital visual inspection and supervision system)
                    is the computer vision based project to make students management
                    system more smarter than earlier boring and non accurate systems.
                    Also we are trying to create modules that help parents to zoom on student, 
                    for whom the parents are looking for.<br> 
                    
                    The mentors and examiners will also able to track the student behaviour while
                    lectures and exams and also able to take the photo capture of any suspicious
                    activity of student for their improvement purposes.</h4>
                        <hr class="hr">
                    <h3 class="intro">To</h3>
                   <h4 class="introLine">Manage student <b>efficiently</b></h4> 
                   <h4 class="introLine">Improve examination <b>supervision</b></h4> 
                   <h4 class="introLine">Inspect every suspicious <b>activities</b></h4> 
                   <h4 class="introLine">Achieve maximum <b>security</b> of students data</h4> 
                   <h4 class="introLine">Create the stack of <b>AI</b> and <b>ML</b> based techniques to improve the student management system</h4> 

        </div> -->
        <div class="col-md IntroDiv">
            <h3 class="introduction">Introduction</h3>
            <h4 class="about">
            <b><span class="">ADVISS</span></b>initiative 
            (advanced digital visual inspection and supervision system)
            is the computer vision based project to make students management
            system more smarter than earlier boring and non accurate systems.
            Also we are trying to create modules that help parents to zoom on student, 
            for whom the parents are looking for.<br> 
            
            The mentors and examiners will also able to track the student behaviour while
            lectures and exams and also able to take the photo capture of any suspicious
            activity of student for their improvement purposes.</h4>
            <hr class="hr">
                    <h3 class="intro">To</h3>
                   <h4 class="introLine">Manage student <b>efficiently</b></h4> 
                   <h4 class="introLine">Improve examination <b>supervision</b></h4> 
                   <h4 class="introLine">Inspect every suspicious <b>activities</b></h4> 
                   <h4 class="introLine">Achieve maximum <b>security</b> of students data</h4> 
                   <h4 class="introLine">Create the stack of <b>AI</b> and <b>ML</b> based techniques to improve the student management system</h4> 

        </div>
    </div>
    <div class="row" id="dev-row">
        
          <div class="col-md-6" id="div_for_DEV">
             <img class="devImgRutvik" 
             src="assets/images/rutvikramanuj.png" 
             alt="Rutvik Ramanuj">
          <h3 class="devlopers">Rutvik Ramanuj</h3>    
          <h4 class="devlopers"><b>Front-End Programmer</b></h4>  
      
      </div>

      <div class="col-md-6" id="div_for_DEV">
             
        <img class="devImgAvi" 
     src="assets/images/avipatel.png" 
     alt="Avi Patel">
 <h3 class="devlopers">Avi Patel</h3> 
  <h4 class="devlopers"><b>Back-End Programmer</b> </h4>   
</div>
    </div>
</div>