
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" (click)="onSelect('home-tab')">ADVISS</a>
        <button class="navbar-toggler" type="button"  data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>   
        <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#" (click)="onSelect('home-tab')" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"(click)="onSelect('profile-tab')">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"(click)="onSelect('student-tab')">Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"(click)="onSelect('faculty-tab')">Faculty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"(click)="onSelect('about-tab')">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"(click)="onSelect('contactUs-tab')">Contact Us</a>
            </li>
           
          </ul>
          <ul class="navbar-nav ml-auto"> 
              <li class="nav-item">
            <a class="nav-link" href="#"(click)="onSelect('sign-up')">Sign Up<span><i class="bi bi-person-plus"></i></span></a>
          
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#"(click)="onSelect('login-tab')">Login</a>
          </li>
        </ul>
          
        </div>
      </nav>
      