#col-md-id{

}
.advissColumn{
    /* text-align: center; */
    /* margin: 0px 10px ; */
}
.addDetailsClipart{
   margin:25%;
    width: 100%;
}
.row-right{
    
    padding-left: 150px;
}
#btn-Faculty{
    margin-left:120px;
}
#loginId{
    margin-top: 200px;
    margin-left: 30.333333%;
    padding: 10px;
}
.modifyDetailsClipart{
    margin-left: 50px;
}