
<div class="container-fluid">
    <div class="row" style="padding:50px;" >
        
        <div class="col-md-4 cssForAddCard"
           (click)="addFacultyDiv()"
           [hidden]="toHideDiv"
         id="cardForHover" 
        
         >

        <div class="card cardAdd card-body-add" >
            <img  
            src="/assets/images/addFacultyDetails(1).png" 
            alt="addFacultyDetailsLogo"
            class="addFacultyImage"
            >

            <div class="card-body ">
                <h5 class="card-title">Add Faculty Details</h5>
                <p class="card-text">To Add Details Of A New Faculty</p>
                <button class="btn btn-dark btnModify">add</button>
            </div>
        </div>
        </div>

        <div class="col-md-4 cardModify toVisibleFeature"
        (click)="modifyFacultyDiv()"
        [hidden]="toHideDiv"
         id="cardForHover" >
        <div class="card" style="padding: 10px;">
            <img 
            src="/assets/images/modifyDetails(1).png" 
            alt="addFacultyDetailsLogo"
            class="modifyFacultyImage"
            >
            <div class="card-body">
                <h5 class="card-title">Modify</h5>
                <p class="card-text">To Modify Existed Faculty Details</p>
                <button class="btn btn-dark btnModify">Modify</button>
            </div>
        </div>
    </div>
        <div class="col-md-4 cardRemove toVisibleFeature" 
        (click)="removeFacultyDiv()"
         id="cardForHover"
         [hidden]="toHideDiv"
         >
        <div class="card" style="padding: 10px;">
            <img 
            src="/assets/images/removeFaculty.png" 
            alt="addFacultyDetailsLogo"
            class="removeFacultyImage">
            <div class="card-body ">
                <h5 class="card-title">Remove</h5>
                <p class="card-text">To Remove Faculty Details</p>
                <button class="btn btn-dark btnModify">Remove</button>
            </div>
        
    </div>
</div>
    </div>
</div>
<app-add-faculty *ngIf="addFacultyCard===true"></app-add-faculty>
<app-modify-faculty *ngIf="modifyFacultyCard===true"></app-modify-faculty>
<app-remove-faculty *ngIf="removeFacultyCard===true"></app-remove-faculty>