<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-7 advissColumn">
            <h1 class="advissTitle">ADVISS </h1>
            <p class="aboutAdviss">We are Providing Your Child's Personal Activity Via CCTV So Parent Can See Their Child's Activity in their Device via ADVISS</p>
          
          </div>
          </div>
    </div>
  
      <div class="col-md-8">
        
        <div class="row row-right">
          <div class="form-group col-md-6 " > 
            
            <label for="school-name">School Name</label>    
                
                <input type="name" class="form-control"
                id="school-name"
                (input)="insideSchoolName($event)" 
                placeholder="Enter your School Name">
              
            </div>
  
          <div class="form-group col-md-6">    
             <label for="school-code">School Code</label> 
          
                <input type="name" class="form-control"
                  id="school-code" 
                  (input)="insideSchoolCode($event)"
                  placeholder="Enter your School Code">
          </div>
                                
          <div class="form-group col-md-12">    
             <label for="Address">Address</label>
             <input type="name" class="form-control" id="Address" 
             (input)="insideAddress($event)"
             placeholder="Enter your Address">
          
          </div>
          <div class="form-group col-md-4">    
             <label for="city">city</label>
             <input type="name" class="form-control" id="city" 
             (input)="insideCity($event)"
             placeholder="Enter your city">
          </div>
          
          <div class="form-group col-md-4">    
             <label for="pin">PINcode</label>
             <input type="number" class="form-control" id="pin" 
            (input)=insidepinCode($event)
             placeholder="Enter your PINCODE">
          </div>
  
          <div class="form-group col-md-4">    
              <label for="cont-no">Contact No.</label>
              <input type="number" class="form-control" id="cont-no" 
              (input)="insideContactNumber($event)"
              placeholder="Enter your Contact Number">
          </div>
          
          <div class="form-group col-md-6">    
             <label for="aadhar">Aadhar No.</label>
              <input type="number" class="form-control" id="aadhar" 
              (input)="insideAddharNumber($event)"
              placeholder="Enter your Aadhar Number">
          </div>
  
          <div class="form-check col-md-2 gender">
              <label ></label>
              <br>
            <input class="form-check-input gender" type="radio" name="exampleRadios" id="Radios1" value="Male" checked>
            <label class="form-check-label male" for="exampleRadios1">
              Male
            </label>
                
            <input class="form-check-input gender" type="radio" name="exampleRadios" id="Radios2" value="Female" checked>
            <label class="form-check-label" for="exampleRadios2">
              Female
            </label>
            </div>
          
            <div class="form-group col-md-3"> 
              <label for="username">Username</label>
              <input type="name" class="form-control" id="username"
              (input)="insideUsername($event)"
              placeholder="create your username">           
            </div>
  
          <div class="form-group col-md-6">    
              <label for="pan">PAN No.</label>
              <input type="number" class="form-control" id="pan"
              (input)="insidePanNumber($event)"
              placeholder="Enter your PAN Number">
          </div>
          
         
  
          <div class="form-group col-md-6">    
             <label for="email">E-mail</label>
             <input type="email" class="form-control" id="email" 
             (input)="insideEmail($event)"
             placeholder="Enter your E-mail ">     
          </div>
  
          <div class="form-group col-md-4">    
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
            (input)="insidePassword($event)"
            placeholder="Create your Password">
          </div>
  
          <div class="form-group col-md-4">    
              <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password"
            (input)="insideConfirmPassword($event)"
            placeholder="Re-enter your Password">
          </div>
              
           
  
             <div class="form-check col-md-10 ">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1" >Yes,I am agree with all the terms & conditions regarding this website </label>
            </div>
            
             
            <div class="form-check col-md-5 ">
            <br>
               <a href="#"><button type="submit" id="btn-signin"class="btn btn-primary btnModify"
                (click)="signInButton()"
                >Sign  in</button></a>
              </div>
              <!-- <p *ngIf="schoolName && schoolCode === ''">Enter Details  Correctly</p> -->
              <!-- <p *ngIf="msgCondition==='true'">password is not matching</p> -->
              
            </div> 
      </div>
    </div>
  </div>

   <!-- <p *ngFor="let item of details">
    {{ item.schoolName }}
    {{ item.schoolCode }}
    {{ item.address }}
    {{ item.city }}
    {{ item.pinCode }}
    {{ item.addharNumber }}
    {{ item.panNumber }}
    {{ item.username }}
    {{ item.contactNumber }}
    {{ item.email }}
    {{ item.password }}
    {{ item.confirmPassword }}</p> -->
