
<div class='container-fluid'>  
 
    <div class='col-md-8 carouselDiv' >  
        <ngb-carousel >  
            <ng-template ngbSlide>  
                <img src="../assets/images/1.jpg" class="img-fluid" alt="Class 8">  
                <div class="carousel-caption">  
                    <h3 style="color: rgb(255, 255, 255)">Class 8</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/images/2.jpg" class="img-fluid" alt="Class 9">  
                <div class="carousel-caption">  
                    <h3 style="color: rgb(255, 255, 255)">Class 9</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/images/3.jpg" class="img-fluid" alt="Class 10">  
                <div class="carousel-caption">  
                    <h3 style="color: rgb(255, 255, 255)">Class 10</h3>  
                </div>  
            </ng-template>  
            
          
        </ngb-carousel>  
    </div>  
  
  </div>  